<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="../pwa/manifest.json" />
    <link rel="stylesheet" href="../css/style.css">
    <title>Berria sortu</title>
</head>
<body>
    
    <div class="back-container">
        <form action="../admin">
            <button type="submit"><img src="../pics/atzera.svg" alt="Atzera"></button>
        </form>

       
        <form action="../berria">
            <button type="submit"><img src="../pics/birkargatu.svg" alt="Birkargatu"></button>
        </form>

    </div>

    <div class="bigbutton-container" style = "padding-top:200px">
        <form action = "../berria/txapelketa">
            <button>
                <img src="../pics/txapBerria.svg" alt="Berria">
                Txapelketa berria gehitu
            </button>
        </form>
        <form action = "../berria/taldea"> 
            <button type = "submit">
                <img src="../pics/taldeBerria.svg" alt="Berria">
                Talde berria gehitu
            </button>
        </form> 
        <form action="../berria/epaimahaikidea">
            <button type = "submit">
                <img src="../pics/epaBerria.svg" alt="Berria">
                Epaimahaikide berria gehitu
            </button>
        </form>
          
    </div>


    <div id="footer"></div>
       

  <script type = "module">
        import {autentifikatu} from '../js/user.js';
        import {loadFooter} from '../js/app.js';
        window.addEventListener('DOMContentLoaded', () => {
            autentifikatu(), 
            loadFooter();
        });
    </script>
</body>
</html>