<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epaile berria gehitu</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="manifest" href="../../../pwa/manifest.json" />
   
  
</head>
<body>
<div class="back-container"></div>

<div class ="form-container">
    <h1>Epaimahaikide berria sortu</h1>
        <img src="../../pics/epaBerria.svg" style ="max-width:200px; "> </img>
    <form id = "epaimahaikideForm">
       
         <table > 
            <tr>
                <td>Fasea</td>
         
                <td><select id = "faseaMenua" required>
                    <option value="0">Aukeratu fasea</option>
                </select></td>
            </tr>
            <tr>
                <td>Izena</td>
           
                <td><select id = "epaimahaikideaMenua" disabled required>
                    <option value="0">Fasea aukeratu lehen</option>
                </select></td>
            </tr>
   
            
        </table>
        <button type = "submit" id = "sortu">Sortu</button>
    </form> 
 
</div>

<div id = "epaimahaikideaDiv" class = "taulaDiv"></div>

    <div id="footer"></div>
    

  <script type = "module">
        import {autentifikatu} from '../js/user.js';
        import {loadEpaimahaikideenTaula} from '../js/epaileBerriak.js';
        import {loadFooter, loadHeader} from '../js/app.js';
        window.addEventListener('DOMContentLoaded', () => {
            //autentifikatu(), 
            loadHeader();
           
            loadFooter();
        });
    </script>
</body>
</html>