<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epaile berria gehitu</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="manifest" href="../../../pwa/manifest.json" />
    <script src="../../js/app.js" type="module"></script>
    <script src="../../js/epaileBerriak.js" type="module"></script>
   
  
</head>
<body>
<div class="back-container"></div>

<div class ="form-container" style="margin-top: 100px;">
    <h1>Epaimahaikide berria sortu</h1>
        <img src="../../pics/epaBerria.svg" style ="max-width:150px; "> </img>
    <form id = "epaimahaikideForm">
       
         <table > 
            <tr>
                <td>Fasea</td>
         
                <td><select id = "faseaMenua" required>
                    <option value="0">Aukeratu fasea</option>
                </select></td>
            </tr>
            <tr>
                <td>Izena</td>
           
                <td><select id = "epaimahaikideaMenua" disabled required>
                    <option value="0">Fasea aukeratu lehen</option>
                </select></td>
            </tr>
   
            
        </table>
        <button type = "submit" id = "sortu">Sortu</button>
    </form> 
 
</div>

<div id = "epaimahaikideaDiv" class = "taulaDiv" style="margin-top: 450px;"></div>

    <div id="footer"></div>
    


</body>
</html>