<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="/pwa/manifest.json" />
  <link rel="stylesheet" href="/css/style.css">
  <title data-i18n="Saioa_hasi"></title>
  <script src= "./js/app.js" type = "module"></script>
  <script src= "./js/itzulpenak.js" type = "module"></script>
</head>
<body>
  <div id="header" class="back-container"></div>
  


  <div id="logDiv" class="login-container" >
    <h1 id="formTitle" data-i18n="Saioa_hasi"></h1>
    <form id="authForm">
      <input type="text" id="username" placeholder="Erabiltzaile izena" required data-i18n-placeholder="Erabiltzaile_izena" />
      <input type="email" id="email" placeholder="Eposta kontua" hidden data-i18n-placeholder="Eposta" />
      <input type="password" id="password" placeholder="Pasahitza" required data-i18n-placeholder="Pasahitza" />
      <button type="submit" data-i18n="Bidali"></button>
    </form>
    <button id="toggle-button" data-i18n="EzDuzuKonturik"></button>
    <button id="installButton" hidden data-i18n="Instalatu"></button>
  </div>

</body>

<script>
  if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/sw.js");
  }

  let deferredPrompt;
  if (!('beforeinstallprompt' in window)) {
    console.log('El navegador no soporta la instalación de PWAs.');
  }

  window.addEventListener('beforeinstallprompt', (e) => {
    e.preventDefault();
    document.getElementById('installButton').hidden = false;
    deferredPrompt = e;
  });

  const installButton = document.getElementById('installButton');
  installButton.addEventListener('click', async () => {
    if (deferredPrompt) {
      deferredPrompt.prompt();
      const choiceResult = await deferredPrompt.userChoice;
      if (choiceResult.outcome === 'accepted') {
        // Instalado
      } else {
        // Rechazado
      }
      deferredPrompt = null;
      installButton.style.display = 'none';
    }
  });

 
</script>
<script type = "module">
  import {applyTranslation} from './js/itzulpenak.js';
  document.addEventListener('DOMContentLoaded', () => {
    
      const lang = localStorage.getItem('hizkuntza') || 'eu';
      applyTranslation(lang, "index");
      console.log("itzultzen...", lang);

  });
  if(document.getElementById("hizkuntza")){
  
  document.getElementById("hizkuntza").addEventListener("change", function() {
    const lang = document.getElementById("hizkuntza").value;
    if(lang !== localStorage.getItem('hizkuntza')){
    applyTranslation(lang , i);
    console.log("itzultzen...", lang);
    }
  
    
  
  });
  }
</script>
</html>
