<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkuluak</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="manifest" href="../pwa/manifest.json" />
    <script src="../js/app.js" type="module"></script>
    
    <script type = "module" src="../js/kalkuluak.js"></script>

</head>
<body>
    <div class="back-container">
       
    </div>

    
<div id = "footer"></div>
</body>

</html>