<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkuluak</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="manifest" href="../pwa/manifest.json" />
</head>
<body>
    <div class="back-container">
       
    </div>
    <script type = "module">
        import { autentifikatu } from '../../js/user.js';
        import { kalkuluakBistaratu } from '../../js/admin.js';
        import { loadFooter, loadHeader } from '../../js/app.js';
        window.addEventListener('DOMContentLoaded', () => {
            loadFooter();
            loadHeader();
            kalkuluakBistaratu();
        });
    </script>
    
<div id = "footer"></div>
</body>

</html>