<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profila</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/app.js" type = "module"></script>
    <script src="../js/profila.js" type = "module"></script>
    
</head>
<body>
    <div id = "header" class="back-container"></div>
    <div id = "footer" class="footer"></div>
        <div id = "container" class = "home" style="margin-bottom:20px;">
            <div id = "profila" >
            <img src="../pics/profila.svg"></img> 
        </div>
        <div id = "form" hidden>
            <form id ="pasahitzaForm" >
                <h1>Pasahitza aldatu</h1>
                <input type = "password" id = "pasahitza" name = "pasahitza" required placeholder="pasahitza berria"></input>
                <button type = "submit" id = "pasahitzaAldatu">Aldatu</button>
            </form>
           
        </div>
        </div>
        <div class="profila">
        <table >
            <tr>
                <td>
                    <button id = "profilaEditatu">Pasahitza aldatu</button>
                </td>
                <td>
                    <button id = "profilaEzabatu">Kontua ezabatu</button>
                </td>
                <td>
                    <button id = "profilaLogout">Saioa itxi</button>
            </tr>
        </table>
    </div>
    
   
    
    </body>


</body>


</html>