<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taldeen kudeaketa</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="manifest" href="../../../pwa/manifest.json" />
    <script src="../js/app.js" type="module"></script>
   
</head>
<body>
    <div class="back-container">
        </div>
<div id = "taulaDiv" class = "form-container"></div>
<div id = "taldeenTaula" class="inputDiv"></div>


<div id = "footer">
   
</div>
</body>
<script type = "module">

    import {taldeaForm} from "../../js/admin.js";
   
    window.addEventListener('DOMContentLoaded', () => {
       
        taldeaForm(2);
    });

  </script>
</html>