<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ikusi lehiaketak</title>
    <link rel="manifest" href="../pwa/manifest.json" />
    <link rel="stylesheet" href="../css/style.css">
    <script type = "module" src = "../js/txapelketaIkusi.js"></script>
     <script src="../js/app.js" type="module"></script>
   
</head>
<body >
    <div class="back-container">

    </div>
    <h1>Txapelketen laburpena</h1>
    <div id = "txapelketakDiv" class = "taulaDiv" ></div>


    <div id = "footer"></div>
   
</body>

   

</html>

