<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ikusi lehiaketak</title>
    <link rel="manifest" href="../pwa/manifest.json" />
    <link rel="stylesheet" href="../css/style.css">
    <script type = "module">
        import { txapelketaBistaratu } from '../../js/admin.js';
        import { loadFooter } from '../../js/app.js';
        window.addEventListener('DOMContentLoaded', () => {
            loadFooter(),
            txapelketaBistaratu(2,0);
        });
    </script>
</head>
<body >
    <div class="back-container">
        <form action="../admin">
            <button type="submit"><img src="../pics/atzera.svg" alt="Atzera"></button>
        </form>
        <form action="../txapelketak">
            <button type="submit"><img src="../pics/birkargatu.svg" alt="Birkargatu"></button>
        </form>
    </div>
    
    <div id = "txapelketakDiv" class = "taulaDiv" ></div>


    <div id = "footer"></div>
   
</body>

   

</html>

