<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>txapelketa berri bat sortu</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="manifest" href="../../../pwa/manifest.json" />
</head>
<body>

    <div class="back-container">
    </div>

    


    <script type = "module">
        import {autentifikatu} from '../../js/user.js';
        import {loadFooter} from '../../js/app.js';
        window.addEventListener('DOMContentLoaded', () => {
            loadFooter(),
            autentifikatu();
        });
    </script>
    <div id = "txapForm"  class = "form-container" style="margin-top: 50px;">
    <h1>Txapelketa berri bat sortu </h1>
    <form id = "txapelketaForm" >
        <table id = "txapelketaTaula"   >
          
            <tr>
                <td>Izena</td>
                <td><input type="text" id="txapelketaIzena" placeholder="Izena" required></td>
            </tr>

            <tr>
                <td>Data</td>
                <td><input type="datetime-local" id="dataOrdua"  required ></td>
            </tr>

            <tr>
                <td>Lekua</td>
                <td><input type="text" id="lekua" placeholder="Lekua" required></td>
            </tr>
            
            <tr>
                <td hidden><input type="hidden" id="idTxapelketa"></input></td>
            </tr>
        </table>
        <button type="submit" id="sortu" >Sortu</button>
    </form>
        
    
    </div>

    <div id="faseenTaula" class = "taulaDiv" >
        <form id="faseakForm">
        <table id = "faseakTaula" class = "taula" ></table></div>
     
    </form>


<div id = "txapelketakDiv" class = "taulaDiv" ></div>
<form  id = "amaitu"  action = "../../txapelketak">
    <button type="submit" hidden >Amaitu</button>
</form>

<div id="footer">
    
</div>
</body>
<script type="module">
    import {txapelketaSortu, faseaSortu} from '../../js/admin.js';
    import {loadFooter, loadHeader} from '../../js/app.js';
    window.addEventListener('DOMContentLoaded', () => {
        loadFooter(),
        loadHeader();
    });

    document.getElementById('sortu').addEventListener('click', async (event) => {
        await txapelketaSortu(event);
    });
    document.getElementById('amaitu').addEventListener('click', (event) => {
        faseaSortu(event);
        window.location.href = '../../txapelketak';
    });
</script>

</html>