<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>txapelketa berri bat sortu</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="manifest" href="../../../pwa/manifest.json" />
    <script src="../../js/app.js" type="module"></script>
    <script src="../../js/txapelketaBerria.js" type="module"></script>

   
</head>
<body>

    <div class="back-container">
    </div>


    <div id = "txapForm"  class = "form-container" style="margin-top: 50px;">
    
    <form id = "txapelketaForm" >
        <h1>Txapelketa berri bat sortu </h1>
        <table id = "txapelketaTaula"   >
          
            <tr>
                <td>Izena</td>
                <td><input type="text" id="txapelketaIzena" placeholder="Izena" required></td>
            </tr>

            <tr>
                <td>Data</td>
                <td><input type="datetime-local" id="dataOrdua"  required ></td>
            </tr>

            <tr>
                <td>Lekua</td>
                <td><input type="text" id="lekua" placeholder="Lekua" required></td>
            </tr>
            
            <tr>
                <td hidden><input type="hidden" id="idTxapelketa"></input></td>
            </tr>
        </table>
        <button type="submit" id="sortu" >Sortu</button>
    </form>
        
    
    </div>

    <div id="faseakDiv"  hidden >
           </div>
           <div id = "ezaugarriakDiv" class="taulaDiv"  hidden>
            <table id = "ezaugarriakTaula" class = "taula">
                <tr><td>Ezaugarria Izena</td><td>Puntuazio Maximoa</td><td>Puntuazio Minimoa</td><td>Ponderazioa</td></tr>
            </table>
              
</div>

<div id = "txapelketakDiv" style = "margin-top:50px;" class = "taulaDiv" ></div>

<div id="footer" class="footer"></div>
</body>


</html>