* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 

    min-height: 100vh; 
    margin: 0;
    
    
}

main {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
 
}

td {
    font-size: 15px;
}

.button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9; 
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    padding: 6px 0;
    z-index: 1000; 
}

.button-container form {
    margin: 0; 
}

.button-container button {
    background-color: #f9f9f9;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:active {
    transform: scale(0.98); 
}
.button-container button img {
    width: 30px;
    height: 30px;
}
.back-container {
    position: fixed;
    top: 0.1%;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
    padding-right: 10px;
}

.back-container form {
    margin: 0;
}

.back-container button {
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-container button img {
    width: 100%;
    height: 100%;
}

.back-container button:active {
    transform: scale(0.98);
}


.taulaDiv {
  
    width: fit-content; 
    max-width: 90%;
    text-align: center;

}
.inputDiv {
    position: fixed; 
    top: 280px; 
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    width: 90%; 
    max-width: 1200px; 
    max-height: 70vh; 
    overflow: auto;
    z-index: 150; 
}

.taula, .taulaInput {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 4px;


}


.taula > tbody > tr:first-of-type {
    position: sticky;
    top: 32px; 
    background-color: #0000005c; /* light gray */
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #f9f9f9;
    text-transform: uppercase;
    z-index: 10;
}

.taulaInput > tbody > tr:first-of-type {
    position: sticky;
    top: -1px; 
    background-color: #0000005c; /* light gray */
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #f9f9f9;
    text-transform: uppercase;
    z-index: 10;
}
.taulaInput td, .taulaInput th,
.taula td, .taula th{
    border: 1px solid #ddd;
    padding: calc(0.5vw + 1px);
    text-align: center;
    
}
.taulaInput button,
.taula button {
    background-color: #0000005c; /* light gray */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 8px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.form-container {
    position: fixed;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    z-index: 200;
  }
 

.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  /*
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    background-color: #0000005c; 
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  */
  
  #toggle-button, #installButton {
    background-color: transparent;
    color: #008cba;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
    transition: color 0.3s ease;
  }
  
 

  
button {
    background-color: #0000005c; /* light gray */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 8px;
    font-size: 9px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    
    transform: scale(0.9);
}

button:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    background-color: none;
}

button:disabled {
    background-color: #0000005c;
    color: #a1a1a1;
    cursor: not-allowed;
    box-shadow: none;
}

button.btn-primary {
    background-color: #0000005c; /* light gray */
}


/*
button.btn-secondary {
    background-color: #f300036;
}

*/
button.btn-secondary:hover {
    background-color: #e53935;
}

button.outline {
    background-color: transparent;
    color: #102C54;
    border: 2px solid #102C54;
}

button.outline:hover {
    background-color: #102C54;
    color: white;
}

input {
    width: 100%;
    padding: 6px;
    margin: 3px 0;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 9px;
    box-sizing: border-box;
}

input {
    border-color: #102C54;
    box-shadow: 0 0 8px rgba(10, 2C, 54, 0.5);
    font-size: 10px;
    outline: none;
}


input[type="checkbox"] {
    display: inline-block;
    width: 10px;
    height: 10px;
    
    appearance: none;
    border: 2px solid #102C54;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="checkbox"]:checked {
    background-color: #102C54;
    border-color: #102C54;
}



select {
    width: 100%;
    padding: 6px;
    margin: 3px 0;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 7.2px;
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%234CAF50'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus {
    border-color: #102C54;
    box-shadow: 0 0 8px rgba(16, 44, 84, 0.5);
    outline: none;
}

option {
    padding: 6px;
    background-color: white;
    font-size: 7.2px;
}

form > * {
    margin-bottom: 8px;
}

label {
    font-size: 10px;
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 3px;
}

#modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%;
    max-width: 600px;
    max-height: 42vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



#modalContent {
  
    border: 1px solid #ddd;

    overflow-y: auto;
    padding-right: 5px;
    max-height: calc(42vh - 25px);
    overflow-y: auto;  
    overflow-x: auto; 
    font-size: 10px;
    text-align: center;
}



#modalContent tr:first-of-type {
    text-align: center;
    font-size: 7.2px;
    font-weight: bold;
    color: white;
    background-color: #0000005c; /* light gray */
    position: sticky;
    top: 0;
    text-transform: uppercase;
}
#modalContent button {
    bottom: 0;
    position: sticky;
    margin-top: 7px;
    padding: 6px 8px;
    background-color: #0000005c; /* light gray */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 9px;
    align-self: center;
}

#modalContent button:hover {
    background-color: #0056b3;
    transform :scale(1);
}

#content.blur {
    filter: blur(4px);
    pointer-events: none;
}

/*

.ezaugContainer table,.epaimahaikideaContainer table{
    gap: 0;
    width: 100%;
    table-layout: fixed;
    border: none;
    border-collapse: collapse;
}

.ezaugContainer td, .ezaugContainer th, .epaimahaikideaContainer td, .epaimahaikideaContainer th{
    
    max-width: 120px;
    padding: 12px;
    text-align: center;
    border:  none;
}
*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 9px;
    font-size: 9px;

    text-align: justify;
    align-items: flex-end;
}

.ezaugContainer table,.epaimahaikideaContainer table{
    gap: 0;
    width: 100%;
    table-layout: fixed;
    border: none;
    border-collapse: collapse;
}

.ezaugContainer td, .ezaugContainer th, .epaimahaikideaContainer td, .epaimahaikideaContainer th{
    width: 120px;
    max-width: 120px;
    padding: 12px;
    text-align: center;
    border:  none;
}



.bigbutton-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
    align-items: center;
}

.bigbutton-container button {
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.bigbutton-container button:hover {
    transform: scale(1.1);
}

.bigbutton-container img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.bigbutton-container .icon2:hover {
    transform: rotate(90deg);
    transition: transform 0.5s;
}

.berriaDiv {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    justify-content: space-around;
    align-items: center; 
    z-index: 1000; 
}

.berriaDiv table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 9px;
    font-size: 20px;

    text-align: justify;
    align-items: flex-end;
}

.berriaDiv td {
    width: 100%;

}

.berriaDiv img {
    width: 50px;
    height: 50px;
}





/* From Uiverse.io by thomas-m-njuguna */ 
.btn-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: none;
    margin: 0;
    border: 1px solid none;
    border-radius: 10px;
  }

  .tooltip {
    background-color: rgba(255, 255, 255, 0.1);
    visibility: visible;
    opacity: 1;
  }
  .settings-btn {
    display: block;
    transition: transform 0.4s ease-in;
    
  }
  .settings-btn:hover {
    transform: rotate(60deg);
  }
  .settings-btn:active {
    animation: rot 1s linear infinite;
  }
  @keyframes rot {
    from {
      transform: rotate(-100deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
  .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .button-berria {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    border-radius: 0;
    
}

  .button-berria:hover {
    transform: rotate(90deg);
    transition: transform 0.5s;
}
.icon {
    width: 35px;
    height: 35px;
    stroke: #000;
    
    transition: fill 0.3s, stroke 0.3s;
}

.button-berria:active .icon {
    stroke: #666;
    fill: #222;
    transition: none;
}

.loader {
    position: relative;
    transform: scale(1.5) translateY(4.5px);
    border-radius: 50%;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    color: black;
  }
  
  .loader::after, .loader::before {
    position: absolute;
    width: 0px;
    height: 8px;
    display: block;
    border-left: 1px solid black;
    content: '';
    left: 9px;
    border-radius: 1px;
    top: 3px;
    transform-origin: bottom;
    transition: transform 0.3s linear;
  }
  
  .loader:hover::after {
    animation: dial 1s linear infinite;
  }
  
  .loader:hover::before {
    animation: dial 40s linear infinite;
  }
  .loader2 {
    padding-bottom: 50px;
    position: relative;
    transform: scale(1.5) translateY(4.5px);
    border-radius: 50%;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    color: black;
  }
  
  .loader2::after, .loader::before {
    position: absolute;
    width: 0px;
    height: 30px;
    display: block;
    border-left: 1px solid black;
    content: '';
    left: 30px;
    border-radius: 1px;
    top: 0px;
    transform-origin: bottom;
    transition: transform 0.3s linear;
  }
  
  .loader2::before {
    position: absolute;
   
    height: 25px;
    display: block;
    border-left: 1px solid black;
    content: '';
    left: 30px;
    border-radius: 1px;
    top: 5px;
    transform-origin: bottom;
    transition: transform 0.3s linear;


}

.loader::before {
    position: absolute;
   
    height: 5px;
    display: block;
    border-left: 1px solid black;
    content: '';
    left: 9px;
    border-radius: 1px;
    top: 6px;
    transform-origin: bottom;
    transition: transform 0.3s linear;


}
  
  .loader2:hover::after {
    animation: dial 1s linear infinite;
  }
  
  .loader2:hover::before {
    animation: dial 40s linear infinite;
  }
  
  @keyframes dial {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .button-hist{

    border-radius: 20px;
  }
  .button-hist2{
   
    border-radius: 20px;
  }
  .button-zakarrontzi {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent; 
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: .3s;
    background-color: transparent;
}

.svgIcon path {
    fill: black;
}


.highlight {
    background-color: rgb(181, 181, 181);   
}




.button-berria2 {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    border-radius: 0;
    
}

  .button-berria2:hover {
    transform: rotate(90deg);
    transition: transform 0.5s;
}
.icon2 {
    width: 100px;
    height: 100px;
    stroke: #000;
  
    transition: fill 01s, stroke 1s;
}

.button-berria2:active .icon {
    stroke: #666;
    fill: #222;
    transition: none;
}

.faseakDiv {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: auto auto !important;
    gap: 20px !important;
    padding: 20px !important;
    background: #f9f9f9 !important;
    border: 1px solid #ddd !important;
    border-radius: 8px !important;
    max-width: 600px !important;
    width: 90% !important;
    margin: 40px auto !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
}

.k1 {
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.k2 {
    grid-column: 2;
    grid-row: 1;
    align-items: stretch;
}

.k3 {
    grid-column: 1;
    grid-row: 2;
    margin:auto;
}

.k4 {
    padding-top: 30px;
    grid-column: 2;
    grid-row: 2;
    margin: auto;
}

.ultimoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.ezaugContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.ezaugContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.ezaugContainer div:nth-child(1),
.ezaugContainer div:nth-child(2),
.ezaugContainer div:nth-child(3),
.ezaugContainer div:nth-child(4) {
    grid-column: 1;
}

.ezaugContainer div:nth-child(5),
.ezaugContainer div:nth-child(6),
.ezaugContainer div:nth-child(7),
.ezaugContainer div:nth-child(8) {
    grid-column: 2;
}

#faseakDiv h2 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;

}

#faseakDiv table {
    position: relative;
    width: 90%;
    margin: 0 auto;
    

}

.ezaugarriakDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;

}